article{
    border-bottom: 1px solid rgb(201, 198, 198);
}
section{
    margin: 0 150px 0 150px;
    
}
section h1{
    font-size: 50px;
}
.container{
    display: flex;
    flex-direction: row;
}
.title{
    width: 90%;
}
.years{
    width: 20%;
}
.exp{
    width: 60%;
   
}
.exp p{
   line-height: 1.5;
}
.exp ul{
    padding-left: 150px;
    width: 120%;
}

 



